https://tumien.mdshun.com {
        log git.access.log

        proxy / http://127.0.0.1:8080 {
                fail_timeout 300s
                transparent
                header_upstream X-Forwarded-Ssl on
                header_downstream -X-Frame-Options
        }
}